<qm-auto-close>
<div class="qm-modal qm-add-customer-modal qm-form-modal qm-modal--md" [dir]="userDirection$ | async" cdkTrapFocus>
    <form class="qm-modal__box-container" [formGroup]="createBlockerForm" (ngSubmit)="onSubmit()">
        <div class="qm-modal__header">
          <span class="qm-modal__headline">{{ 'label.createBlockerForm.heading' | translate }}</span>
        </div>
        <div class="qm-modal__body">
          <div class="qm-modal-row">
            <div class="qm-modal-col-12">
              <div class="qm-standard-text-field" [ngClass]="{'qm-standard-text-field--error': title.invalid && (title.dirty || title.touched)}">
                <label class="qm-standard-text-field__label">
                  <span class="qm-standard-text-field__top-container">
                    <span class="qm-standard-text-field__text">{{ 'field.createBlockerForm.title' | translate }}</span>
                    <span class="qm-standard-text-field__required">{{ 'field.createBlockerForm.required' | translate }}</span>
                  </span>
                  <span class="qm-standard-text-field__input-container">
                    <input type="text"
                          class="qm-input qm-standard-text-field__input"
                          placeholder=""
                          qmClearInput
                          required
                          name="title"
                          maxlength="500"
                          formControlName="title"
                          (input)="autoCloseService.refreshAutoClose()" />
                  </span>
                </label>
              </div>
            </div>
            <div class="qm-modal-col-12">
              <div class="qm-standard-text-field" [ngClass]="{'qm-standard-text-field--error': notes.invalid && (notes.dirty || notes.touched)}">
                <label class="qm-standard-text-field__label">
                  <span class="qm-standard-text-field__top-container">
                    <span class="qm-standard-text-field__text">{{ 'field.createBlockerForm.note' | translate }}</span>
                  </span>
                  <span class="qm-standard-text-field__input-container">
                    <textarea
                      id="notesEdit"
                      class="qm-input qm-standard-text-field__input qm-form-note"
                      maxlength="255"
                      qmClearInput
                      rows="5"
                      (input)="autoCloseService.refreshAutoClose()"
                      formControlName="notes"
                      ></textarea>
                  </span>
                </label>
              </div>
            </div>
            <div class="qm-modal-col-12">
              <div class="qm-standard-text-field" [ngClass]="{'qm-standard-text-field--error': branch.invalid && (branch.dirty || branch.touched)}">
                <label class="qm-standard-text-field__label">
                  <span class="qm-standard-text-field__top-container">
                    <span class="qm-standard-text-field__text">{{ 'field.createBlockerForm.branch' | translate }}</span>
                    <span class="qm-standard-text-field__required">{{ 'field.createBlockerForm.required' | translate }}</span>
                  </span>
                  <div class="qm-standard-text-field">
                    <label class="qm-standard-text-field__label">
                      <ng-select [items]="branches" [selectOnTab]="true" [clearable]="false"
                        notFoundText="{{ 'field.createBlockerForm.branch.notfound' | translate }}" bindValue="id" bindLabel="name"
                        placeholder="{{ 'field.createBlockerForm.branch' | translate }}" formControlName="branch">
                      </ng-select>
                    </label>              
                </div>
                </label>
              </div>
            </div>
            <div class="qm-modal-col-12">
              <div class="qm-standard-text-field" [ngClass]="{'qm-standard-text-field--error': startTime.invalid && (startTime.dirty || startTime.touched) }">
                <label class="qm-standard-text-field__label">
                  <span class="qm-standard-text-field__top-container" [ngClass]="{'qm-field-required-short': !startDate.invalid && (!startDate.dirty || startDate.touched) }">
                    <span class="qm-standard-text-field__text">{{ 'field.createBlockerForm.start' | translate }}</span>
                    <span class="qm-standard-text-field__required">{{ 'field.createBlockerForm.required' | translate }}</span>
                  </span>
                  <span class="qm-standard-text-field__input-container">
                    <div class="qm-input-date__container">
                      <mat-form-field color="red" [formGroup]="createBlockerForm" class="qm-date-picker" appearance="fill" [ngClass]="{ 'qm-date-picker__select': !startDate.invalid && (!startDate.dirty || startDate.touched), 
                      'qm-date-picker__select-extend': !startDate.invalid && (!startDate.dirty || startDate.touched) && !enableMeridian }">
                        <mat-label>{{'field.createBlockerForm.date' | translate}}</mat-label>
                        <input matInput [min]="minStartDate" [matDatepicker]="pickerStart" (dateChange)="onDateChange()" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                        <mat-datepicker #pickerStart></mat-datepicker>
                      </mat-form-field>
                      <div *ngIf="!startDate.invalid && (!startDate.dirty || startDate.touched)" class="qm-time-picker">
                        <ngb-timepicker formControlName="startTime" [meridian]="enableMeridian" [minuteStep]="stepMinute"></ngb-timepicker>
                      </div>
                    </div>
                  </span>
                </label>
              </div>
            </div>
            <div class="qm-modal-col-12">
              <div class="qm-standard-text-field" [ngClass]="{'qm-standard-text-field--error': endTime.invalid && (endTime.dirty || endTime.touched) }">
                <label class="qm-standard-text-field__label">
                  <span class="qm-standard-text-field__top-container" [ngClass]="{'qm-field-required-short': !endDate.invalid && (!endDate.dirty || endDate.touched) }">
                    <span class="qm-standard-text-field__text">{{ 'field.createBlockerForm.end' | translate }}</span>
                    <span class="qm-standard-text-field__required">{{ 'field.createBlockerForm.required' | translate }}</span>
                  </span>
                  <span class="qm-standard-text-field__input-container">
                    <div class="qm-input-date__container">
                      <mat-form-field [formGroup]="createBlockerForm" class="qm-date-picker" appearance="fill" [ngClass]="{ 'qm-date-picker__select': !endDate.invalid && (!endDate.dirty || endDate.touched), 
                      'qm-date-picker__select-extend': !endDate.invalid && (!endDate.dirty || endDate.touched) && !enableMeridian }">
                        <mat-label>{{'field.createBlockerForm.date' | translate}}</mat-label>
                        <input matInput [min]="minEndDate" [matDatepicker]="pickerEnd" formControlName="endDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                      </mat-form-field>
                      <div *ngIf="!endDate.invalid && (!endDate.dirty || endDate.touched)" class="qm-time-picker">
                        <ngb-timepicker formControlName="endTime" [meridian]="enableMeridian" [minuteStep]="stepMinute"></ngb-timepicker>
                      </div>
                    </div> 
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="qm-modal__footer qm-form-footer-extend">
          <div class="qm-generic-layout qm-generic-layout--align-right">
            <button type="button" class="qm-btn qm-btn--secondary" [disabled]="isBlock" (click)="activeModal.close(); autoCloseService.refreshAutoClose()">
              <span class="qm-btn__text" title="{{ 'button.createBlockerForm.cancel' | translate }}">
                {{ 'button.createBlockerForm.cancel' | translate }}
              </span>
            </button>
            <button class="qm-btn qm-btn--primary" [disabled]="!createBlockerForm.valid || !createBlockerForm.dirty">
              <span class="qm-btn__text" title="{{ (blockerData ? 'button.createBlockerForm.update' : 'button.createBlockerForm.save') | translate }}">
                {{ (blockerData ? 'button.createBlockerForm.update' : 'button.createBlockerForm.save') | translate }}
              </span>
            </button>
          </div>
        </div>
    </form>
</div>
</qm-auto-close>
