<div class="qm-booking-flow" [dir]="userDirection">
        <!-- <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field> -->
        <div class="qm-blocking-list__main" [ngStyle]="{'height':dashboardRowCSSHeight}">
          <div class="mat-elevation-z8 qm-blocking-list__container" [ngClass]="{'qm-blocking-list__container__full' : blockerList === undefined || (blockerList && 6 > blockerList.length) }">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" class="qm-blocking-list__table">
        
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.blocker.field.id' | translate }} </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>
          
              <!-- Title Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> {{ 'table.blocker.field.title' | translate }} </th>
                <td mat-cell *matCellDef="let row" style="width: 20%;"> {{row.title}} </td>
              </ng-container>

              <!-- Note Column -->
              <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> {{ 'table.blocker.field.note' | translate }} </th>
                <td mat-cell *matCellDef="let row" style="width: 20%;"> {{ row.notes }} </td>
              </ng-container>
          
              <!-- Branch Column -->
              <ng-container matColumnDef="branch">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.blocker.field.branch' | translate }} </th>
                <td mat-cell *matCellDef="let row"> {{ row.branch ? row.branch.name : ('label.branch.global' | translate) }} </td>
              </ng-container>
          
              <!-- Start Column -->
              <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.blocker.field.start' | translate }} </th>
                <td mat-cell *matCellDef="let row"> {{row.start | qmDateFormat : '' | async }} </td>
              </ng-container>
  
              <!-- End Column -->
              <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.blocker.field.end' | translate }} </th>
                <td mat-cell *matCellDef="let row"> {{row.end | qmDateFormat : '' | async }} </td>
              </ng-container>
  
              <!-- Created Column -->
              <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.blocker.field.created' | translate }} </th>
                <td mat-cell *matCellDef="let row"> {{row.created | qmDateFormat : '' | async }} </td>
              </ng-container>
  
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                  <div class="qm-blocking-list__action">
                    <button class="qm-action-btn qm-action-btn--laying" aria-haspopup="true" (click)="editBlocker(row)">
                      <i class="qm-action-btn__icon icon icon-edit" aria-hidden="true"></i>
                    </button>
                    <button class="qm-action-btn qm-action-btn--laying" aria-haspopup="true" (click)="deleteBlocker(row)">
                      <i class="qm-action-btn__icon icon icon-delete" aria-hidden="true"></i>
                    </button>
                  </div>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td *ngIf="dataSource.filter.length > 0" class="mat-cell" colspan="4">No data matching the filter "{{dataSource.filter}}"</td>
              </tr>
            </table>
        </div>
        <mat-paginator [hidden]="blockerList === undefined || blockerList && blockerList.length < 6" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
      
</div>


